/*pagination*/
.pagination-container > nav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.pagination > li > a,
.pagination > li > span {
    color: #157347;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #157347;
    border-color: #157347;
}
/*end pagination*/

.btn-action-div {
    text-align: center;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.form-control:focus {
    border-color: #157347;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.list-single-word {
    border: solid #157347 2px;
}

@media only screen and (max-width: 1200px) {
    .list-single-word {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .list-single-word-top-infos {
        width: 100%;
        margin-bottom: 1rem;
    }
}